/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 32, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto01 {
  background-image: url("../assets/projeto01.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto02 {
  background-image: url("../assets/projeto02.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto03 {
  background-image: url("../assets/projeto03.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto04 {
  background-image: url("../assets/projeto04.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto05 {
  background-image: url("../assets/projeto05.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto06 {
  background-image: url("../assets/projeto06.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto07 {
  background-image: url("../assets/projeto07.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto08 {
  background-image: url("../assets/projeto08.png");
  background-size: cover;
  background-position: center;
}

.projeto09 {
  background-image: url("../assets/projeto09.png");
  background-size: cover;
  background-position: center;
}

/* line 55, ../../portfolio profissional/scss/_variaveis_mixins.scss */
body {
  background-color: #110F17;
}

/* line 60, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.js [data-js="scroll"] {
  opacity: 0;
  transform: translateX(-30px);
  transition: all .3s;
}

/* line 66, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.js [data-js="scroll"].active {
  opacity: 1;
  transform: translateX(0);
}

/* line 72, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop {
  display: flex;
  justify-content: end;
  position: relative;
  right: 40px;
  top: 60px;
}

/* line 81, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #8257E6;
  animation: scaleAnimation 1.9s infinite;
}

/* line 91, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop button > i {
  font-size: 1.25rem;
  vertical-align: middle;
  color: white;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* line 8, ../../portfolio profissional/scss/_reset.scss */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* line 16, ../../portfolio profissional/scss/_reset.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 20, ../../portfolio profissional/scss/_reset.scss */
::-webkit-scrollbar-track {
  background-color: #110F17;
}

/* line 24, ../../portfolio profissional/scss/_reset.scss */
::-webkit-scrollbar-thumb {
  background-color: #8257E6;
  border-radius: 15px;
}

/* line 33, ../../portfolio profissional/scss/_reset.scss */
img {
  max-width: 100%;
  display: block;
}

/* line 38, ../../portfolio profissional/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 60, ../../portfolio profissional/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 64, ../../portfolio profissional/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 67, ../../portfolio profissional/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 70, ../../portfolio profissional/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 73, ../../portfolio profissional/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 78, ../../portfolio profissional/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 32, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto01 {
  background-image: url("../assets/projeto01.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto02 {
  background-image: url("../assets/projeto02.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto03 {
  background-image: url("../assets/projeto03.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto04 {
  background-image: url("../assets/projeto04.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto05 {
  background-image: url("../assets/projeto05.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto06 {
  background-image: url("../assets/projeto06.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto07 {
  background-image: url("../assets/projeto07.png");
  background-size: cover;
  background-position: center;
}

/* line 44, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.projeto08 {
  background-image: url("../assets/projeto08.png");
  background-size: cover;
  background-position: center;
}

/* line 55, ../../portfolio profissional/scss/_variaveis_mixins.scss */
body {
  background-color: #110F17;
}

/* line 60, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.js [data-js="scroll"] {
  opacity: 0;
  transform: translateX(-30px);
  transition: all .3s;
}

/* line 66, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.js [data-js="scroll"].active {
  opacity: 1;
  transform: translateX(0);
}

/* line 72, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop {
  display: flex;
  justify-content: end;
  position: relative;
  right: 40px;
  top: 60px;
}

/* line 81, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #8257E6;
  animation: scaleAnimation 1.9s infinite;
}

/* line 91, ../../portfolio profissional/scss/_variaveis_mixins.scss */
.scrollTop button > i {
  font-size: 1.25rem;
  vertical-align: middle;
  color: white;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* line 1, ../../portfolio profissional/scss/_header.scss */
header {
  font-family: 'Poppins', sans-serif;
  padding: 30px 0;
  background-color: #110F17;
  border-bottom: 2px solid #8257E6;
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* line 10, ../../portfolio profissional/scss/_header.scss */
header .container {
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 760px) and (max-width: 980px) {
  /* line 10, ../../portfolio profissional/scss/_header.scss */
  header .container {
    max-width: 760px;
  }
}

/* line 18, ../../portfolio profissional/scss/_header.scss */
header .logo {
  color: white;
  font-weight: 700;
  font-size: 1.4375rem;
}

/* line 24, ../../portfolio profissional/scss/_header.scss */
header .logo::after {
  content: '/>';
  font-weight: 700;
  color: #8257E6;
  font-size: 1.4375rem;
}

/* line 31, ../../portfolio profissional/scss/_header.scss */
header .logo::before {
  content: '<Dev.';
  font-weight: 700;
  color: #8257E6;
  font-size: 1.4375rem;
}

@media screen and (max-width: 759px) {
  /* line 39, ../../portfolio profissional/scss/_header.scss */
  header nav.menu-desktop {
    display: none;
  }
}

/* line 50, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul {
  position: relative;
  top: 5px;
  float: right;
}

/* line 57, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li {
  display: inline-block;
}

/* line 62, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li + li {
  margin-left: 20px;
}

/* line 67, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li a {
  color: white;
  text-decoration: none;
  position: relative;
}

/* line 72, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li a::before {
  content: '';
  width: 0;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

/* line 83, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li a::after {
  content: '';
  width: 0;
  height: 5px;
  background-color: #8257E6;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

/* line 94, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li a:hover::before {
  width: 50%;
  transform: translateX(100%);
}

/* line 99, ../../portfolio profissional/scss/_header.scss */
header nav.menu-desktop ul li a:hover::after {
  width: 50%;
  transform: translateX(-100%);
}

/* line 1, ../../portfolio profissional/scss/_menu_mobile.scss */
#mobile {
  display: none;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 759px) {
  /* line 1, ../../portfolio profissional/scss/_menu_mobile.scss */
  #mobile {
    display: block;
  }
}

/* line 13, ../../portfolio profissional/scss/_menu_mobile.scss */
#mobile .line {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #8257E6;
  display: block;
  position: relative;
  transition: all .5s;
  transform-origin: center;
}

/* line 24, ../../portfolio profissional/scss/_menu_mobile.scss */
#mobile.active .line:nth-child(1) {
  transform: translateY(7px) rotate(-40deg);
}

/* line 28, ../../portfolio profissional/scss/_menu_mobile.scss */
#mobile.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(40deg);
}

/* line 32, ../../portfolio profissional/scss/_menu_mobile.scss */
#mobile.active .line:nth-child(2) {
  background-color: transparent;
}

/* line 39, ../../portfolio profissional/scss/_menu_mobile.scss */
nav.menu-mobile {
  display: none;
}

/* line 42, ../../portfolio profissional/scss/_menu_mobile.scss */
nav.menu-mobile ul {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #07070be1;
  padding: 90px 0 0 0;
}

/* line 53, ../../portfolio profissional/scss/_menu_mobile.scss */
nav.menu-mobile ul li {
  text-align: center;
  margin-top: 30px;
}

/* line 60, ../../portfolio profissional/scss/_menu_mobile.scss */
nav.menu-mobile ul li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 30px;
  color: white;
  transition: all .3s;
  font-weight: 700;
}

/* line 73, ../../portfolio profissional/scss/_menu_mobile.scss */
nav.menu-mobile ul li a:hover {
  color: #8257E6;
}

@media screen and (max-width: 759px) {
  /* line 39, ../../portfolio profissional/scss/_menu_mobile.scss */
  nav.menu-mobile {
    display: block;
  }
}

/* line 87, ../../portfolio profissional/scss/_menu_mobile.scss */
.hide {
  display: none;
}

/* line 92, ../../portfolio profissional/scss/_menu_mobile.scss */
.show {
  animation: showMenu .5s forwards;
}

@keyframes showMenu {
  from {
    opacity: 0;
    transition: all .5s;
  }
  to {
    opacity: 1;
    transition: all .5s;
  }
}

/* line 1, ../../portfolio profissional/scss/_banner.scss */
section.banner {
  padding: 60px 0;
  background-color: #110F17;
  font-family: 'Poppins', sans-serif;
}

/* line 6, ../../portfolio profissional/scss/_banner.scss */
section.banner .container {
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
}

@media screen and (max-width: 759px) {
  /* line 6, ../../portfolio profissional/scss/_banner.scss */
  section.banner .container {
    flex-direction: column-reverse;
    max-width: 480px;
  }
}

@media screen and (min-width: 760px) and (max-width: 980px) {
  /* line 6, ../../portfolio profissional/scss/_banner.scss */
  section.banner .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  /* line 24, ../../portfolio profissional/scss/_banner.scss */
  section.banner .banner__content {
    margin-top: 50px;
  }
}

/* line 31, ../../portfolio profissional/scss/_banner.scss */
section.banner .banner__content h1 {
  color: white;
  font-weight: 500;
  font-size: 1.7rem;
  font-weight: 500;
}

@media screen and (max-width: 759px) {
  /* line 31, ../../portfolio profissional/scss/_banner.scss */
  section.banner .banner__content h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}

/* line 42, ../../portfolio profissional/scss/_banner.scss */
section.banner .banner__content span {
  color: #8257E6;
  font-size: 2.8rem;
  margin: 5px 0 7px 0;
  display: block;
  font-weight: 500;
}

@media screen and (max-width: 759px) {
  /* line 42, ../../portfolio profissional/scss/_banner.scss */
  section.banner .banner__content span {
    text-align: center;
  }
}

/* line 53, ../../portfolio profissional/scss/_banner.scss */
section.banner .banner__content p {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 759px) {
  /* line 53, ../../portfolio profissional/scss/_banner.scss */
  section.banner .banner__content p {
    text-align: center;
    font-size: 1.5rem;
  }
}

/* line 64, ../../portfolio profissional/scss/_banner.scss */
section.banner .btns__social-network {
  margin-top: 25px;
}

@media screen and (max-width: 759px) {
  /* line 64, ../../portfolio profissional/scss/_banner.scss */
  section.banner .btns__social-network {
    text-align: center;
  }
}

/* line 72, ../../portfolio profissional/scss/_banner.scss */
section.banner .btns__social-network .btn {
  padding: 15px 30px;
  background-color: transparent;
  border: 3px solid #8257E6;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

/* line 86, ../../portfolio profissional/scss/_banner.scss */
section.banner .btns__social-network .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #8257E6;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: all 0.5s;
}

/* line 100, ../../portfolio profissional/scss/_banner.scss */
section.banner .btns__social-network .btn:hover::before {
  height: 190%;
}

/* line 110, ../../portfolio profissional/scss/_banner.scss */
section.banner .btns__social-network .btn + .btn {
  margin-left: 15px;
}

/* line 115, ../../portfolio profissional/scss/_banner.scss */
section.banner .profile__picture {
  width: 300px;
  height: 300px;
  background-color: #110F17;
  border-radius: 50%;
  background-image: url("../assets/profile.jpeg");
  background-size: cover;
  transition: all 0.5s;
  animation: animation 3s forwards infinite;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* line 1, ../../portfolio profissional/scss/_about_me.scss */
section.about__me {
  padding: 60px 10px;
  background-color: #110F17;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* line 6, ../../portfolio profissional/scss/_about_me.scss */
section.about__me h1 {
  font-size: 1.9rem;
  text-align: center;
  font-weight: 700;
  color: white;
}

/* line 13, ../../portfolio profissional/scss/_about_me.scss */
section.about__me p {
  display: inline-block;
  color: white;
  margin-top: 40px;
  max-width: 700px;
  line-height: 2rem;
}

@media screen and (max-width: 759px) {
  /* line 13, ../../portfolio profissional/scss/_about_me.scss */
  section.about__me p {
    font-size: 0.875rem;
  }
}

/* line 22, ../../portfolio profissional/scss/_about_me.scss */
section.about__me p span {
  color: #8257E6;
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (max-width: 759px) {
  /* line 22, ../../portfolio profissional/scss/_about_me.scss */
  section.about__me p span {
    font-size: 1rem;
  }
}

/* line 1, ../../portfolio profissional/scss/_skills.scss */
section.skills {
  padding: 60px 0;
  background-color: #110F17;
  font-family: 'Poppins', sans-serif;
}

/* line 6, ../../portfolio profissional/scss/_skills.scss */
section.skills .container {
  justify-content: center;
  margin: 50px auto;
  flex-wrap: wrap;
}

/* line 12, ../../portfolio profissional/scss/_skills.scss */
section.skills h1 {
  color: white;
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
}

/* line 19, ../../portfolio profissional/scss/_skills.scss */
section.skills .skills__single {
  width: 120px;
  height: 120px;
  background-color: #110F17;
  border: 4px solid #8257E6;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 15px;
  transition: all .5s;
}

/* line 28, ../../portfolio profissional/scss/_skills.scss */
section.skills .skills__single:hover {
  transform: scale(1.2);
}

/* line 32, ../../portfolio profissional/scss/_skills.scss */
section.skills .skills__single h2 {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  color: white;
}

/* line 40, ../../portfolio profissional/scss/_skills.scss */
section.skills .skills__single i {
  color: #8257E6;
  font-size: 3.75rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* line 1, ../../portfolio profissional/scss/_projects.scss */
section.projects {
  width: 100%;
  padding: 60px 0;
  background-color: #110F17;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

/* line 9, ../../portfolio profissional/scss/_projects.scss */
section.projects h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 1.9rem;
}

/* line 17, ../../portfolio profissional/scss/_projects.scss */
section.projects .container {
  gap: 80px 40px;
  margin: 60px auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 759px) {
  /* line 17, ../../portfolio profissional/scss/_projects.scss */
  section.projects .container {
    max-width: 480px;
  }
}

/* line 28, ../../portfolio profissional/scss/_projects.scss */
section.projects .card {
  width: 100%;
  max-width: calc(400px - 40px);
  height: 230px;
  background-color: #110F17;
  border-bottom: 3px solid #8257E6;
  position: relative;
  overflow: hidden;
  transition: all .3s;
}

/* line 37, ../../portfolio profissional/scss/_projects.scss */
section.projects .card:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 759px) {
  /* line 37, ../../portfolio profissional/scss/_projects.scss */
  section.projects .card:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 759px) {
  /* line 28, ../../portfolio profissional/scss/_projects.scss */
  section.projects .card {
    max-width: 350px;
    height: 220px;
  }
}

/* line 54, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 69, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body span {
  color: #8257E6;
  font-size: 23px;
}

/* line 74, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* line 82, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body a {
  padding: 15px 25px;
  background-color: transparent;
  border: 3px solid #8257E6;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

/* line 96, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #8257E6;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: all 0.5s;
}

/* line 110, ../../portfolio profissional/scss/_projects.scss */
section.projects .card__body a:hover::before {
  height: 190%;
}

/* line 121, ../../portfolio profissional/scss/_projects.scss */
section.projects .link__project {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* line 127, ../../portfolio profissional/scss/_projects.scss */
section.projects .card:hover .card__body {
  right: 0;
}

/* line 134, ../../portfolio profissional/scss/_projects.scss */
section.projects .hide {
  display: none;
}

/* line 1, ../../portfolio profissional/scss/_contact.scss */
section.contact {
  padding: 100px 0;
  background-color: #110F17;
  font-family: 'Poppins', sans-serif;
}

/* line 8, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon {
  transition: all .3s;
}

/* line 11, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon:hover {
  transform: scale(1.2);
}

/* line 15, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon a {
  display: block;
  text-decoration: none;
  text-align: center;
}

/* line 21, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon i {
  color: white;
  font-size: 2rem;
}

/* line 26, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon a:nth-child(1) {
  background-color: #8257E6;
  padding: 20px 20px;
  border-radius: 50%;
}

@media screen and (max-width: 759px) {
  /* line 26, ../../portfolio profissional/scss/_contact.scss */
  section.contact .icon a:nth-child(1) {
    padding: 15px 15px;
  }
}

/* line 35, ../../portfolio profissional/scss/_contact.scss */
section.contact .icon a:nth-child(2) {
  margin-top: 30px;
  color: white;
}

/* line 42, ../../portfolio profissional/scss/_contact.scss */
section.contact h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 50px;
}

/* line 50, ../../portfolio profissional/scss/_contact.scss */
section.contact .container {
  justify-content: center;
  gap: 80px;
}

@media screen and (max-width: 759px) {
  /* line 50, ../../portfolio profissional/scss/_contact.scss */
  section.contact .container {
    gap: 50px;
  }
}

/*# sourceMappingURL=style.css.map */