
// Variaveis do grid
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;
$purple: #8257E6;
$dark: #110F17;
$white: white;
$projetos: projeto01 projeto02 projeto03 projeto04 projeto05 projeto06 projeto07 projeto08;
$modal: #13131F;


// Mixin de media-queries
@mixin mediaQuery($size) {
  
    @if $size == m {
      @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 220}) {
        @content;
      }
    } @else if $size == s {
      @media screen and (max-width: #{$m-device - 1}) {
        @content;
      }
    }
  }

  @mixin fontPoppins{
    font-family: 'Poppins', sans-serif;
  }
  

  .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;

  
  }


  @each $projeto in $projetos{
    .#{$projeto}{
      background-image: url('../assets/#{$projeto}.png');
      background-size: cover;
      background-position: center;

     
    }

  }


  body{
    background-color: $dark;
  }


  .js [data-js="scroll"]{
    opacity: 0;
    transform: translateX(-30px);
    transition: all .3s;
  }

  .js [data-js="scroll"].active{
    opacity: 1;
    transform: translateX(0);
  }


  .scrollTop{
    display: flex;
    justify-content: end;
    position: relative;
    right: 40px;
    top: 60px;
  }


  .scrollTop button{
    width: 50px;
    height: 50px; 
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: $purple;
    animation: scaleAnimation 1.9s infinite;
  }

  .scrollTop button > i{
    font-size: 1.25rem;
    vertical-align: middle;
    color: $white;
  }

  @keyframes scaleAnimation{
    0%{
      transform: scale(1);
    }

    20%{
      transform: scale(1.2);
    }

    50%{
      transform: scale(.9);
    }

    80%{
      transform: scale(1.2);
    }

    100%{
      transform: scale(1);
    }
  }